body{
    background-color: #E0DFDD;
}

#app .header {
    background-color: #A78C17;
    max-height: 90px;
}
#app .header button{
    padding: 8px;
    font-size: 16px;
    border: none;
    color: black;
    background-color: white;
    border-radius: 10px;
}
.card-header {
    background-color: #8CC542;
    font-size: 20px;
}